{% extends "base.html" %}



{% block title %}Listado de Avisos{% endblock %}


{% block content %}

<h1>Listado de Avisos de Adopción</h1>


<table>
    <thead>
        <tr>
            <th>Fecha publicación</th>
            <th>Comuna</th>
            <th>Sector</th>
            <th>Cantidad - Tipo - Edad</th>
            <th>Foto</th>
        </tr>
    </thead>
    
    <tbody>
        {% for aviso in avisos.items %}
        <tr data-href="{{ url_for('detalle_aviso', aviso_id=aviso.id) }}" style="cursor: pointer;">

            <td>{{ aviso.fecha_ingreso.strftime('%d/%m/%Y - %H:%M') }}</td>
            <td>{{ aviso.comuna.nombre }}</td>
            <td>{{ aviso.sector or 'N/A' }}</td>
            <td>{{ aviso.cantidad }} {{ aviso.tipo }} - {{ aviso.edad }} {{ 'años' if aviso.unidad_medida == 'a' else 'meses' }}</td>
            <td>
                {% if aviso.fotos %}
                    <img src="{{ url_for('static', filename=aviso.fotos[0].ruta_archivo) }}" 
                         alt="Foto mascota" width="100">
                {% else %}
                    Sin foto
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>



<!-- Paginación -->
<div class="pagination">
    
    {% if avisos.has_prev %}
        <a href="{{ url_for('listar_avisos', page=avisos.prev_num) }}">← Anterior</a>
    {% endif %}
    
    
    <span>Página {{ avisos.page }} de {{ avisos.pages }}</span>
    
    
    {% if avisos.has_next %}
        <a href="{{ url_for('listar_avisos', page=avisos.next_num) }}">Siguiente →</a>
    {% endif %}
    
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}